/* #header{
    width: auto;
    height: 5vh;
    text-align: center;
    background-color: gray;
    font-size: 1.5em;
    line-height: 1.5em;
} */

body{
    background-color: teal;
    position: relative;
}

#sidebar{
    float: left;
    width: 20vw;
    height: 100vh;
    font-size: 1em;
    line-height: 100vh;
    text-align: center;
    background-color: violet;
    position: absolute;
    left: 0px;
}

#content{
    float: left;
    width: 80vw;
    height: 100vh;
    font-size: 1em;
    line-height: 100vh;
    text-align: center;
    background-color: yellow;
    position: absolute;
    left: 20vw;
}

/* #footer{
    height: 5vh;
    width: auto;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5em;
} */